In [1]:
# Pour visualiser les données j'utilise la bibliothèque Pandas étudiée en DataScience -1
# Importation des librairies nécessaires
import pandas as pd

# 1) Ouverture du fichier

In [4]:
# Importation des données
donnees_pneus = pd.read_csv('donnees_pneus.csv', sep = ';')

In [5]:
donnees_pneus.head()

,Cat de Pneu,Type de Pneu,Age en semaine,Km mensuel,Pourcentage Utilisation (%),basse vitesse(%),Moderee (%),Haute Vitesse (%),Nombre Moyen de Freinage d'urgence /j,Score de conduite
0,Abimé,Hivers,24,2954,73,19,7,0,11,6
1,Usure Normale,Ete,25,1910,83,12,4,0,13,5
2,Usure Normale,Hivers,33,1997,88,9,2,1,15,5
3,Très abimé,Hivers,39,2852,93,4,3,1,12,5
4,Usure Normale,Ete,29,1988,72,22,6,0,9,5

In [6]:
donnees_pneus.describe()

,Age en semaine,Km mensuel,Pourcentage Utilisation (%),basse vitesse(%),Moderee (%),Haute Vitesse (%),Nombre Moyen de Freinage d'urgence /j,Score de conduite
count,81.000000,81.000000,81.000000,81.00000,81.000000,81.000000,81.000000,81.000000
mean,37.864198,2461.641975,74.913580,17.37037,6.333333,1.074074,13.802469,5.604938
std,13.428285,585.805264,10.305578,8.86911,3.485685,2.072304,5.228336,1.068632
min,21.000000,1241.000000,45.000000,1.00000,2.000000,0.000000,4.000000,3.000000
25%,24.000000,1999.000000,69.000000,11.00000,4.000000,0.000000,10.000000,5.000000
50%,35.000000,2359.000000,76.000000,16.00000,5.000000,0.000000,13.000000,6.000000
75%,49.000000,2852.000000,83.000000,22.00000,8.000000,1.000000,16.000000,6.000000
max,72.000000,4067.000000,93.000000,43.00000,18.000000,11.000000,30.000000,8.000000

In [8]:
donnees_pneus.dtypes

Cat de Pneu                              object
Type de Pneu                             object
Age en semaine                            int64
Km mensuel                                int64
Pourcentage Utilisation (%)               int64
basse vitesse(%)                          int64
Moderee (%)                               int64
Haute Vitesse (%)                         int64
Nombre Moyen de Freinage d'urgence /j     int64
Score de conduite                         int64
dtype: object